@media (min-width: 760px) {
    .age-calculator {
        width: 850px;
        padding: 3rem;
        gap: 0;
        border-radius: 1.5rem 1.5rem 10rem 1.5rem;
    }

    .date-container {
        justify-content: start;
        gap: 1.5rem;
    }

    .date-wrapper {
        width: 11.5rem;
    }

    .date-input {
        font-size: 2rem;
        padding: 0.5rem 1rem;
    }

    .arrow-image {
        display: flex;
        align-items: center;
    }

    .btn {
        position: relative;
        left: 0;
        order: 2;
        margin-top: 0;
    }

    img {
        width: 5.5rem;
        height: 5rem;
    }

    .result {
        font-size: 6rem;
    }
}