/* CSS RESET */
/*
    1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}
/*
    2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
    font: inherit;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}
/*
    5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
    6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
    7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url("./assets/fonts/Poppins-Bold.ttf");
}
@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url("./assets/fonts/Poppins-BoldItalic.ttf");
}
@font-face {
    font-family: 'Poppins-ExtraBold';
    src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}
@font-face {
    font-family: 'Poppins-ExtraBoldItalic';
    src: url("./assets/fonts/Poppins-ExtraBoldItalic.ttf");
}
@font-face {
    font-family: 'Poppins-Italic';
    src: url("./assets/fonts/Poppins-Italic.ttf");
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url("./assets/fonts/Poppins-Regular.ttf");
}

:root {
    /* Colors */
    --clr-purple: hsl(259, 100%, 65%);
    --clr-lightRed: hsl(0, 100%, 67%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-offWhite: hsl(0, 0%, 94%);
    --clr-lightGrey: hsl(0, 0%, 86%);
    --clr-smokeyGrey: hsl(0, 1%, 44%);
    --clr-offBlack: hsl(0, 0%, 8%);

    /* Fonts */
    --ff-base: 'Poppins-Regular';
    --ff-bold: 'Poppins-Bold';
    --ff-boldItalic: 'Poppins-BoldItalic';
    --ff-extraBold: 'Poppins-ExtraBold';
    --ff-extraBoldItalic: 'Poppins-ExtraBoldItalic';
    --ff-italic: 'Poppins-Italic';
}

/* General Styles */
body {
    background-color: var(--clr-lightGrey);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Age Calculator */
.age-calculator {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: var(--clr-white);
    border-radius: 1.5rem 1.5rem 5rem 1.5rem;
    margin: 1rem;
    padding: 2.5rem 1.5rem;
}

/* Date Input Section */
.date-container {
    display: flex;
    justify-content: space-between;
    gap: 0.75rem;
}

.date-wrapper {
    display: flex;
    flex-direction: column;
    width: 5.5rem;
    gap: 0.125rem;
    font-family: var(--ff-bold);
    color: var(--clr-smokeyGrey);
}

.date-input {
    color: var(--clr-offBlack);
    font-size: 1.425rem;
    border: 1px solid var(--clr-lightGrey);
    border-radius: 0.5rem;
    padding: 0.5rem 0.75rem;
    -moz-appearance: textfield;
}

.date-input:hover {
    cursor: pointer;
}

.date-input:focus {
    outline: none !important;
    border-color: var(--clr-purple);
    caret-color: var(--clr-purple);
    cursor: pointer;
}

.date-input::-webkit-outer-spin-button,
.date-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.error {
    font-family: var(--ff-italic);
    color: var(--clr-lightRed);
    word-wrap: normal;
}

/* Image Section */
.line {
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--clr-lightGrey);
    margin: 2rem 0;
}

img {
    background-color: var(--clr-purple);
    width: 3.5rem;
    height: 3.5rem;
    padding: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    margin-left: -1.75rem;
    margin-top: 0.25rem;
}

img:hover {
    background-color: var(--clr-offBlack);
    cursor: pointer;
}

/* Results Section */
.result {
    font-size: 3.25rem;
    font-family: var(--ff-extraBoldItalic);
    line-height: 1.125;
}

.result span {
    color: var(--clr-purple);
}